<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" type="image/x-icon" href="./deepkreis-logo.png">
    <title>Chat</title>
</head>
<body>
    
    <div class="container">
        <p id="userId" hidden><%= warrior.id %></p>
        <p id="warriorName" hidden><%= warrior.username %></p>
        <h1 class="title">Connect with people on the same journey as you!!</h1>

        <div class="chats">
            <% warriors.forEach(user => { %>
                <div class="user">
                    <p hidden class="userId"><%= user.id %></p>
                    <img src="<%= user.picture %>" alt="no">
                    <p class="username"><%= user.username %></p>
                    <div class="active"></div>
                </div>
            <% }) %>
        </div>

        <div class="chatWindowContainer"></div>

    </div>

    <div class="head">
        <h1>Deep Kreis</h1>
    </div>
    <div class="nav">
        <a href="/"><li>Community</li></a>
        <a href="/chat"><li>Chat</li></a>
        <a href="/post"><li>Create</li></a>
        <!-- <a href="/community"><li>Community</li></a> -->
        <a href="/profile"><li>Profile</li></a>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./chat.js"></script>

</html>